{% extends "base.html" %} 
{% block title %}Productos{% endblock title %} 
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                    <thead class="table-dark text-center">
                        <tr class="align-middle">
                            <th scope="col">ID</th>                      
                                                
                            <th scope="col">Categoría</th>

                            <th scope="col">Eliminar</th>
                                                
                        </tr>
                    </thead>
                    <tbody class="text-center align-middle">
                       {% for categoria in categorias %}
                        <tr class="align-middle">
                        <th scope="row">{{ categoria.id }}</th>
                        
                        <td>{{ categoria.categoria }}</td>
                        {% if user.is_authenticated %}                        
                        <td>
                            <a href="delete_categoria/{{ categoria.id }}" class="btn btn-sm btn-danger" onclick="return confirmarEliminacion()">
                            <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                        {% endif %}
                    
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

