{% extends "base.html" %} 
{% block title %}Productos{% endblock title %} 
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                    <thead class="table-dark text-center">
                        <tr class="align-middle">
                            <th scope="col">ID</th>                      
                                                
                            <th scope="col">Categoría</th>
                                                
                        </tr>
                    </thead>
                    <tbody class="text-center align-middle">
                       {% for categorias in categoria %}
                        <tr class="align-middle">
                        <th scope="row">{{ categorias.id }}</th>
                        
                        <td>{{ categorias.categoria }}</td>
                    
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

