{% extends "base.html" %}
{% block title %}CATALOGO{% endblock title %}
{% block content %}

<h3 class="p-2 text-center" style="font-family: 'Blackletter'; color: rgb(255, 255, 255);">Carro Click</h3>


<div class="button-container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a Carro Click</h1>
            
        <p class="lead">Encuentra autos de toda clase.</p>

        <hr class="my-4">

        <p>Mira nuestro contenido </p>

        {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'lista_productos' %}" role="button">Ver Productos</a> {% endcomment %}
    
        <a href="add_producto/{{ producto.id }}" class="btn btn-success">Producto</a>
        <a href="add_cliente/{{ cliente.id }}" class="btn btn-success">Cliente</a>
        <a href="add_compra/{{ compra.id }}" class="btn btn-success">Compra</a>
        <a href="add_categoria/{{ categoria.id }}" class="btn btn-success">Categoria</a>

    </div>
</div>


{% endblock content %}

